@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot');
	src:url('icomoon.eot?#iefix') format('embedded-opentype'),
		url('icomoon.woff') format('woff'),
		url('icomoon.ttf') format('truetype'),
		url('icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
	content: "\e600";
}
.icon-heart2:before {
	content: "\e601";
}
.icon-star:before {
	content: "\e602";
}
.icon-star2:before {
	content: "\e603";
}
.icon-thumbs-up:before {
	content: "\e604";
}
.icon-thumbs-down:before {
	content: "\e605";
}
.icon-chat:before {
	content: "\e606";
}
.icon-paperplane:before {
	content: "\e607";
}
.icon-pencil:before {
	content: "\e608";
}
.icon-drawer:before {
	content: "\e609";
}
.icon-paperclip:before {
	content: "\e60a";
}
.icon-user:before {
	content: "\e60b";
}
.icon-users:before {
	content: "\e60c";
}
.icon-share:before {
	content: "\e60d";
}
.icon-minus:before {
	content: "\e60e";
}
.icon-plus:before {
	content: "\e60f";
}
.icon-cross:before {
	content: "\e610";
}
.icon-minus2:before {
	content: "\e611";
}
.icon-arrow-left:before {
	content: "\e612";
}
.icon-arrow-down:before {
	content: "\e613";
}
.icon-arrow-up:before {
	content: "\e614";
}
.icon-arrow-right:before {
	content: "\e615";
}
.icon-arrow-left2:before {
	content: "\e616";
}
.icon-arrow-up2:before {
	content: "\e617";
}
.icon-arrow-down2:before {
	content: "\e618";
}
.icon-arrow-right2:before {
	content: "\e619";
}
.icon-arrow-left3:before {
	content: "\e61a";
}
.icon-arrow-down3:before {
	content: "\e61b";
}
.icon-arrow-up3:before {
	content: "\e61c";
}
.icon-arrow-right3:before {
	content: "\e61d";
}
.icon-arrow-left4:before {
	content: "\e61e";
}
.icon-arrow-down4:before {
	content: "\e61f";
}
.icon-arrow-up4:before {
	content: "\e620";
}
.icon-uniE621:before {
	content: "\e621";
}
.icon-twitter:before {
	content: "\e622";
}
.icon-googleplus:before {
	content: "\e623";
}
.icon-pinterest:before {
	content: "\e624";
}
.icon-facebook:before {
	content: "\e625";
}
.icon-linkedin:before {
	content: "\e626";
}
.icon-flickr:before {
	content: "\e627";
}
.icon-instagram:before {
	content: "\e628";
}
.icon-skype:before {
	content: "\e629";
}
.icon-paypal:before {
	content: "\e62a";
}
.icon-question:before {
	content: "\e62b";
}
.icon-info:before {
	content: "\e62c";
}
.icon-info2:before {
	content: "\e62d";
}
.icon-help:before {
	content: "\e62e";
}
.icon-mail:before {
	content: "\e62f";
}
.icon-location:before {
	content: "\e630";
}
.icon-clock:before {
	content: "\e631";
}
.icon-calendar:before {
	content: "\e632";
}
.icon-earth:before {
	content: "\e633";
}
